---
import ProjectCard from './React/ProjectCard';
import SectionTitle from './SectionTitle.astro';
import StyledSection from './StyledSection.astro';
import animecu from '../assets/images/animecu.webp';
import samu from '../assets/images/samu.webp';
import bazar from '../assets/images/bazar.webp';
import bill from '../assets/images/bill.webp';
import calcuplador from '../assets/images/calcuplador.webp';
import countinkly from '../assets/images/countinkly.webp';
import mixologa from '../assets/images/mixologa.webp';
import lambda from '../assets/images/lambda.webp';
import movieParadise from '../assets/images/movie-paradise.webp';
import content from '../content/content.json';

// This variable index must match with content index
const sharedInfo = [
  {
    live: 'https://countinkly.vercel.app/kkWWjxxLXj?source=Portfolio',
    github: 'https://github.com/cmollinea/countinkly',
    image: countinkly,
    stackIndex: [6, 5, 3]
  },
  {
    live: 'https://samullanes.com/',
    github: 'https://github.com/cmollinea/samu-llanes-portafolio',
    image: samu,
    stackIndex: [7, 4, 5, 3]
  },

  {
    live: 'https://countinkly.vercel.app/tgpXR6nwE1?source=Portfolio',
    github: 'https://github.com/cmollinea/lambda-solar-landing',
    image: lambda,
    stackIndex: [7, 5, 3]
  },
  {
    live: 'https://countinkly.vercel.app/V5NsLjSq27?source=Portfolio',
    github: 'https://github.com/cmollinea/movie-paradise',
    image: movieParadise,
    stackIndex: [6, 5, 3]
  },
  {
    live: 'https://countinkly.vercel.app/SRp5b7-Kk0?source=Portfolio',
    github: 'https://github.com/cmollinea/mixologa-menu',
    image: mixologa,
    stackIndex: [7, 5, 3]
  },
  {
    live: 'https://countinkly.vercel.app/ugJ2TNsjWF?source=Portfolio',
    github: 'https://github.com/cmollinea/calcuplator',
    image: calcuplador,
    stackIndex: [6, 5, 3]
  },
  {
    live: 'https://animecu.netlify.app/',
    github: 'https://github.com/cmollinea/AnimeCu',
    image: animecu,
    stackIndex: [6, 5, 3]
  },
  {
    live: 'https://cuban-bazar.vercel.app',
    github: 'https://github.com/cmollinea/bazar-online',
    image: bazar,
    stackIndex: [6, 5, 3]
  },
  {
    live: 'https://cuban-electric-bill.vercel.app',
    github: 'https://github.com/cmollinea/cuban-electric-bill',
    image: bill,
    stackIndex: [4, 5, 2]
  }
];
---

<StyledSection>
  <SectionTitle>{content.en.myWork.heading}</SectionTitle>

  <div class='mt-10 grid lg:grid-cols-2 lg:mx-20 gap-10'>
    {
      content.en.myWork.projects.map((project, index) => (
        <ProjectCard
          index={index % 2 === 0 ? 0 : 1}
          client:load
          title={project.title}
          link={{
            live: sharedInfo[index].live,
            github: sharedInfo[index].github
          }}
          image={sharedInfo[index].image}
          stackIndex={sharedInfo[index].stackIndex}
        >
          {project.description}
        </ProjectCard>
      ))
    }
  </div>
</StyledSection>
